@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Gerador de Tarefas</h1>
    <iframe src="https://giphy.com/embed/1QhkRAFtcjO90zNZFi" width="480" height="319" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>
        <a class="mt-2 btn btn-secondary text-white" asp-controller="Todo">Crie suas tarefas</a>
    </p>
</div>
